<!--<script src="/app-assets/vendors/js/vendors.min.js"></script>

<script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>

<script src="/app-assets/js/core/app-menu.js"></script>
<script src="/app-assets/js/core/app.js"></script>

<script src="/app-assets/js/scripts/forms/form-select2.js"></script>
<script src="/app-assets/js/scripts/forms/pickers/form-pickers.js"></script>

<script src="/app-assets/js/scripts/mask/maskedinput.min.js"></script>

<script src="/js/socket/sockjs.js"></script>
<script src="/js/socket/stomp.js"></script>
<script src="/app-assets/js/scripts/forms/pickers/flatpicker-plugins/flatpickr.js"></script>-->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/select2/select2.js"></script>
<script src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>



<script>


</script>
